<main>
    <form class="entry-form">
        <div>
            <h1 class="entry-form__title">{{ titleText }}</h1>
            {{{inputs}}}
        </div>
        <div>
            {{{button}}}
            {{{link}}}
        </div>
    </form>
</main>
