---
title: Чаты
css:
- chat.less
---

{{!< layout}}

<main>
    <h1>Заглушка</h1>
    <a href="../login/login.hbs">вход</a>
    <a href="../signup/signup.hbs">регистрация</a>
    <a href="../profile/profile.hbs">профиль</a>
</main>