---
title: Index
isIndex: true
---

{{!< layout}}

<h1>Hello world!</h1>
<a href="pages/login/login.hbs">login</a>
<a href="pages/signup/signup.hbs">signup</a>
<a href="pages/error/404.hbs">404</a>
<a href="pages/error/500.hbs">500</a>
<a href="pages/chat/chat.hbs">chat</a>